<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Weather App</title>
	<link rel="stylesheet" href="/css/shared.css">
	<link rel="stylesheet" href="/css/home.css">
</head>
<body>
	{{>header}}

	<div class="main-container">
		<h2>{{title}}</h2>

		<form>
			<label for="location">Location</label>
			<div class="location">
				<input id="location" type="text" placeholder="Address, city, region...">
				<button>Search</button>
			</div>
		</form>
	</div>

	{{>footer}}
</body>
</html>